.home-page {
  padding: 100px 0 40px 64px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__main-section {
    color: var(--common-text);
    max-width: 430px;
  }

  &__page-image {
    max-height: calc(100% - 200px);
    width: 50%;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    margin: 24px 0 32px;

    > span {
      color: var(--light-text);
    }
  }

  &__description-text {
    strong {
      display: block;
      margin-top: 32px;
    }
  }

  &__booking-button {
    display: inline-block;
    margin-top: 32px;
  }

  &__contact-section {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    max-width: 430px;
    justify-content: flex-end;
  }
  
  &__contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.6;
  }

  &__bottom-left-detail {
    background-image: url("~/public/bottom-left-detail.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__top-right-detail {
    background-image: url("~/public/top-right-detail.svg");
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    text-align: right;

    > svg {
      margin-top: 40px;
      margin-left: auto;
      margin-right: 52px;
    }
  }
}